/.vs
/FileManager/obj
/FileManager/bin
/ServerConsoleApp/obj
/ServerConsoleApp/bin
/ServerForm/obj
/ServerForm/bin
/SocketLib/obj
/SocketLib/bin
/StatusReporter/obj
/StatusReporter/bin
/.vscode
*.log
/temp