/SocketFileManager/.vs
/SocketFileManager/SocketFileManager/obj
/SocketFileManager/SocketFileManager/bin
/SocketServerConsole/.vs
/SocketServerConsole/SocketServerConsole/obj
/SocketServerConsole/SocketServerConsole/bin
/.vscode
/temp